<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
	<test thread-count="5" name="Test">
		<classes>
			<class name="test.day2" >
			<methods><include name="onlythisInclude1"></include>
			</methods>
			</class>
			
			<class name="test.day1" />
		</classes>
	</test> <!-- Test -->


	<test name="HoemLoan">
		<classes>
			<class name="test.day3" >
			<methods>
			<exclude name="jobb"></exclude>
			</methods>
			</class>
		</classes>
	</test>
</suite> <!--
Suite -->
